*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
}

.navbar{
    height: 100px;
    padding: 0;
   display: flex;
   justify-content: space-between;
}

.navbar-nav{
    /* position: absolute; */
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
  }

.container-fluid{
    width: 100%;
    height: 100%;
    background: linear-gradient(#1e1f22, #4a494965);
    
}

.navbar-brand{
    margin: 0;
    width: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-solid{
    font-size: 35px;
    color: #af1d1d;
    text-shadow: 1px 2px 2px black;
}

.footer{
  display: flex;
  
}
.logo-box{
    display: flex;
}

.text-logo{
    margin: 5px;
    text-align: center;
    color: #af1d1d;
    text-shadow: 1px 5px 5px black;
    font-weight: bolder;
    font-size: 23px;
}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    font-size: 30px;
    text-shadow: 1px 5px 5px black;
}


.navbar-toggler{
    border-color: #af1d1d; 
    box-shadow: 1px 1px 1px black;  
}

.navbar-toggler:focus{
    box-shadow: none;
}

.nav-link{
    color: #af1d1d;
    font-family: 'inria Serif';
    font: bolder;
}

.nouveaute{
  position: relative;
  z-index: -1;
}

.titre-nouveaute{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: linear-gradient(#4a494965, #1e1f22);
    color: #af1d1d;
    font-size: 40px;
    font-family: 'poppins';
    text-shadow: 1px 5px 5px black;
    font-weight: bolder;
}


.image1{
    width: 400px;
    height: 550px;
}

.slider-1 {
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #f1f1f1;

}
p{
    margin: 0;
}
.slider-1 .slider {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;

/* Si on veut faire glisser vers la droite */
/* Il faut aussi changer l'animation(transform) en valeurs positives */
/* flex-direction: row-reverse; */
}
.slider-1 p {
    background: #9f9797;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #f1f1f1;
}

@keyframes slider-1 {
    0%,
    20% {
    transform: translateX(0);
    }
    25%,
    45% {
    transform: translateX(-100%);
    }
    50%,
    70% {
    transform: translateX(-200%);
    }
    75%,
    95% {
    transform: translateX(-300%);
    }
    100% {
    transform: translateX(-400%);
    }
} 

.aLaUne{
    height: 350px;
}

.titre-aLaUne{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: linear-gradient(#1e1f22, #4a494965);
    color: #af1d1d;
    font-size: 40px;
    font-family: 'poppins';
    text-shadow: 1px 5px 5px black;
    font-weight: bolder;
}

.aLaUne{
    background: #9f9797;
}

.affiche-aLaUne{
    display: flex;
    justify-content: space-around;
   margin-top: 20px;
   
}
.affiche{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width:20%;
    overflow: hidden;
    border: solid 1px #af1d1d;
    border-radius: 10px;
    height: 200px;
}

.affiche p{
    width: 100%;
    height: 100%;
}

.image2{
    width: 100%;
    height: 100%;
}
  
  .affiche {
    background: #000;
    width: 100%;
    
    color: #f1f1f1;
  }
  
  .sortieDeLaSemaine{
      height: 400px;
  }
  .titre-sortieDeLaSemaine{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: linear-gradient(#1e1f22, #4a494965);
    color: #af1d1d;
    font-size: 40px;
    font-family: 'poppins';
    text-shadow: 1px 5px 5px black;
    font-weight: bolder;
}

.listeFilmTitre{
  height: 10%;
  background: rgba(255, 255, 255, 0.4);
  margin: 10px;
  border-radius: 7px;
}

.listeFilmTitre{
  padding-left: 10px;
  display: flex;
  align-items: center;
}


.listeFilm{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    padding-top: 20px;
    height: 100%;
    background: linear-gradient(#1e1f22, #4a494965);
    color: #af1d1d;
    font-size: 15px;
    font-family: 'poppins';
    /* text-shadow: 1px 1px 1px rgb(217, 215, 215); */
    font-weight: bolder;
}

.listeFilmTitre:last-child{
  background: rgba(197, 196, 196, 0.24);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: linear-gradient( #4a494965,#1e1f22);
    color: #af1d1d;
    font-size: 40px;
    font-family: 'poppins';
    text-shadow: 1px 5px 5px black;
    font-weight: bolder;
}

.form{
    background: linear-gradient( #4a494965,#1e1f22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.select{
    display: flex;
    width: 35%;
    border-radius: 5px;
    height: 35px;
    font-family: 'inria Serif';
    color: #af1d1d;
}

.label{
    color: #af1d1d;
    font-size: 25px;
    font-family: 'inria Serif';
}

h1{
    display: flex;
    justify-content: center;
    color: #af1d1d;
    background: #4a494965;
    margin: 0;
    padding: 25px;
    font-family: 'inria Serif';
   
}



.description{
    display: flex;
    justify-content: center;
    color: #af1d1d;
    background: #4a494965;
    font-family: 'inria Serif';
    font-size: 25px;
    
}

h2{
    display: flex;
    justify-content: center;
    color: #af1d1d;
    background: #4a494965;
    margin: 0;
    padding: 25px;
    font-family: 'inria Serif';
}
h3{
    display: flex;
    justify-content: center;
    color: #af1d1d;
    background: #4a494965;
    margin: 0;
    padding: 25px;
    font-family: 'inria Serif';
}

.mb-3{
    width: 60%;
}

.btn{
    margin-bottom: 15px;
    background-color: #1e1f22;
}

.uk-table{
    display: flex;
    flex-direction: column;
    background: linear-gradient( #4a494965,#1e1f22);
}
tr{
    display: flex;
    justify-content: space-around;
}

a{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #af1d1d;
    font-size: 30px;

}

td{
    display: flex;
    justify-content: center;
    width: 100%;
}

th{
    font-family:'inria Serif';
    font-size: 35px;
    color: #af1d1d;
}

.uk-label{
    background-color: #4a494965;
    color: #af1d1d;
    font-weight: bolder;
    font-size: 22px;
    font-family: 'inria Serif';
}

.link{
    background-color: #4a494965;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



@media screen and (min-width: 1000px) {
    .navbar-nav{
        background: rgba(15, 15, 15, 0);
      }

      .nav-link{
        font-size: 25px;
      }


    .navbar-expand-lg {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .collapse {
        justify-content: center;
    }

    .navbar-brand {
        justify-content: space-between;
    }

    .image1{
        width: 600px;
        height: 850px;
    }

    .image2{
        width: 100%;
        height: 100%;
    }

    .listeFilm{
        font-size: 25px;
    }

    .aLaUne{
        height: 600px;
    }

    .affiche-aLaUne{
        height: 400px;
    }

    .affiche{
        height: 400px;
        width: 300px;
    }


}
